/**************************Basic**********************************/

html,body{
		font-family:arial;
}
.header {
	height: 55px;
	background-color: #ffffff;
	margin: 0px;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}
.header_font{
	font-size:16px;
	font-weight: 500;
  	margin-left: 7px;
}

.footer {
	text-align:center;
	position:fixed;
	left: 0em;
	bottom:0px;
	padding-left:15em;
    height: 20px;
    width: 100%;
    overflow:hidden;
	background-color:#1d2b36;
	z-index:100;
}
.footer > p{
	color:#777;
}
.container{
min-height:470px;
}
.logo {
	background-color: #ffffff;
	width: 16.66%;
	height: 2%;
	margin-top: 5px;
	float: left;
}

.logo-image {
	background-color: #ffffff;
	margin-left: -7px;
	
}

.search{
	width:59.2em;
	height: 5.7em;
	background-color: #ffffff;
}

.account {
	width: 200px;
	height: 5.7em;
	border-left: solid 1px #e1e1e1;
	background-color: #ffffff;
}

.setting {
	position: absolute;
	width: 5em !important;
	height: 80px;
	background: url(../images/prd_sprite.png) no-repeat -225px -60px;
}

.caret-pos{
	margin-left: 35px !important;
	margin-top: -15px!important;
	display:-webkit-box!important;
	color:#9d9d9d;
	position:absolute;
}


.caret-size{
	margin-left:0px !important;
	margin-top: 1px !important;
}

.dropdown-txt{	
	font-size:12px;
	width:100%;
	height:40px;
	display:block;	
}
.dropdown-link{
	color: inherit;
	
}

.dropdown-toggle{
	background-color:#fff!important;
	padding:0px!important;
	cursor:pointer !important;
}

.dropdown-menu>li>a:hover{
	font-style:bold !important;
	background-color: #1d2b36 !important;
	color:#fff !important;
	padding-top:5px;
	padding-bottom:5px;
}
.dropdown-menu-acc{
	min-width:190px!important;
	border:0px!important;
	border-radius:0px!important;
	margin-top:0px!important;
	left: 86% !important;
	background: -webkit-linear-gradient(top, white, #eee)!important;
	background: -o-linear-gradient(left, white, #eee); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, white, #eee); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white, #eee); /* Standard syntax */	
}
.dropdown-menu-acc>li>a,.dropdown-menu-acc>li>a:hover,.dropdown-menu-setting>li>a,.dropdown-menu-setting>li>a:hover{	
	padding:8px 8px 8px 20px!Important;
}

.dropdown-menu-setting{
	margin-right:-56px!important;
	border:0px!important;
	border-radius:0px!important;
	top:79.3%;
	background: -webkit-linear-gradient(top, white, #eee)!important;
	background: -o-linear-gradient(left, white, #eee); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, white, #eee); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white, #eee); /* Standard syntax */	
}

.navbar-header-background {
	background-color: #fff!important;
	border-color: #fff!important;
}
.btn-ht{
font-size:12px!important;
margin-right:14px!important;
margin-top:4px!important;
}

.btn-width{
	width:100px !important;
}

.margin-right{
margin-right:20px!important;
}

.margin-top{
margin-top:26px!important;
}


.h_apps{
	padding-left:24em;
}

.menu_font{
	font-size:18px!important;
	font-family:arial;
	font-weight:bold;
	color:#828282;	
}

.sign-in_font{	
	font-size:16px;
	font-family:arial;
	color:#5f6062;
	font-weight:bold;
}

.hidden-app-font{
	font-family:arial;
	color:grey;
}

.custom-font{
	font-size:15px!important;
	font-weight:bold!important;
}
/*******************************************Home Page******************************************/

.tabs {
	width: 125px;
	height: 100px;
	border-radius:0px;
	border: none !important;
}

.tabs img {
	margin: 5px auto;
	display: block;
}

.para {
	font-family: arial, sans-sarif;
	font-size: 12px;
}

a:hover>.tabs>h6{
	margin-top:6px !important;
	color:#f7934c!important;
}
a>.tabs>h6{
	margin-top:6px !important;
}



.spacing{
	padding-bottom:0.6em;
}
.feature_strong_auth{
	width: 60px; 
	height: 50px!important; 
	margin-bottom:-10px;
}
.feature_single_sign_on{
	width: 40px; 
	height: 50px!important; 
	margin-bottom:-10px;
}
.feature-google{
	height: 34px!important;
	width:auto;
	margin-top:26px!important;
}

.feature-aha{
	height: 38px!important;
	width:auto;
	margin-top:26px!important;
}

.textcenter-google{
	margin-top:15px;
	text-align: center;
}
.feature_salesforce{
	width: 90px; 
	height: 40px;
}
.feature_adduser{
	width: 50px; 
	height: 40px;
}
.feature{
width: auto; 
height: 60px !important;
}
.basicfeatureimage{
	width:auto;
	height:20px !important;
	}
.basicfeature_user{
	width:auto;
	height:30px !important;
}
.basicfeature_report{
	width:auto;
	height:23px !important;
}
.feature-google + .thumbnail_fonts{
	margin-top:10px!important;
}
a:hover>.tabs>.feature-google + h6{
	margin-top:10px!important;
}

/**************************************End of css for Home Page*******************************************/



html{	
	position:relative;
}
body{
	margin: 0 0 30px; /* bottom = footer height */    
	background-color:#1d2b36!important;
	font-family:arial;
}



.col-width{
display: block;
width: 110%;
height: 30px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control1{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.form-control12 {
display: block;
width: 80%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.account{
	width:200px;
	height:80px;
	border-left: solid 1px #e1e1e1;	
}

.acc-image{
	background: url(../images/prd_sprite.png);
	margin-top:-10px;
	width:40px!important;
	height:48px!important;
	background-color: #ffffff;
	background-position:-138px -60px!important;
	background-repeat:no-repeat;
}
.adminsetting{
	position:absolute;
	width:80px;
	height:80px;
	border-left: solid 1px #e1e1e1;
}
.setting-image{

	background: url(../images/prd_sprite.png) no-repeat -225px -60px;
	width:80px;
	height:80px;
	margin-top:-10px;	
}

.dropdown-txt{	
	font-size:12px;
	width:100%;
	height:40px;
	display:block;	
}

.dropdown-toggle{
	background-color:#fff!important;
	padding:0px!important;
}
.navbar{
	height:55px!important;	
}
.navbar-header-background {
	background-color: #fff!important;
	border-color: #fff!important;
}

.user-font{
	font-size:13px;
	margin-top:20px;
	margin-left:37px; 
	color:#323232;
}

.h_apps{
	padding-left:24em;
}

.hidden-app-font{
	font-family:sans-serif;
	color:grey;
}

.custom-font{
	font-size:15px!important;
	font-weight:bold!important;
}


/** Jumbotron **/
.jumbotron{
	padding-top:10px;
	max-width:100%;
	margin-bottom:0px!important;
}

/* Panel heading */

.panel-heading{
	margin: 0px 20px 0px;
	padding:2px 0px;
	background-color:#ffffff!important;
}

/* Thumbnail setting-icon */


.setting-icon{
	background: url(../images/prd_sprite.png) no-repeat -268px -85px;
}

.setting-icon:hover{
	background-color:#eee;
}

a.dropdown-toggle:hover{
	text-decoration:none!important;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000!important;
}

.nav-background{
	padding-left:0px!important;
	padding-right:0px!important;
	background-repeat:repeat-y!important;
	background-color:#1d2b36!important;
	padding-bottom:80px;
}
.show{
	margin-top:-13.9em;
	padding-left:0px!important;
	padding-right:0px!important;
	position:absolute!important;
}
/****************Tooltip*********************/

.tooltip {
  background-color:transparent!important;  
  border:0px!important;
  opacity:0.9!important;
  margin-top:-10px!important;
}
.tooltip .tooltip-inner {
 background-color:#fffdbb!important;
 padding:10px 0px 10px 0px; 
 width:100%!important;
 height:auto!important; 
 color:#000;
 border-radius:6px!important;
 font-size:12px;
 font-weight:normal!important;
 }
.tooltip.bottom .tooltip-arrow {
  left: 50%;
  margin-left: 20px;
  border-bottom-color: #fffdbb; 
  border-width: 0 5px 5px; 
}
.setting-icon + .tooltip.top{
	margin-top:0px!important;
	width:90px!important;
}
.setting-icon + .tooltip.top .tooltip-inner{	
  width:90px!important;
  padding:5px;
}
.tooltip.top .tooltip-arrow {
   border-top-color: #fffdbb; 
   margin-left: 20px;   
   border-bottom-color: #fffdbb; 
   border-width: 0 5px 5px;
 }
 
.customtooltip + .tooltip.bottom .tooltip-arrow{
	left: 0%!important;
}
.customtooltip + .tooltip.bottom{
	margin-top:6px!important;
	margin-left:50px;
}
.tooltip.right .tooltip-arrow{
	border-right-color: #fffdbb!important;
}
 /************************Pop-over***************************************/
 .popover.bottom{
	margin-top:-2px!important;
 	padding:5px;
 	background-color:#fffdbb!important;	
 	color:#000;
 	white-space:initial;
 	width:250px;
	border:0px!important;
	-webkit-box-shadow:none!important;
 }
 .popover.bottom >.arrow{
 	border-bottom-color: #fffdbb!important;
 	margin-left:8px;
 }
 .popover.bottom >.arrow:after{
 	border-bottom-color: #fffdbb!important;
 }
 
  .popover.top,.popover.right{
	background-color:#fffdbb!important;	
 	color:#000;
	white-space:initial;
	border:0px!important;
	
 }
 .popover.top >.arrow,.popover.top >.arrow:after {
 	border-top-color: #fffdbb!important;
 	
 }
  .popover.right{
  	margin-left:0px;
  	word-wrap:break-word;
  }
 .popover.right>.arrow,.popover.right>.arrow:after{
 	border-right-color: #fffdbb!important;
 	margin-left:0px;
 }
 
  .popoverpos + .popover.bottom{
 	margin-top:30px!important;
 }
 
 .popoverpos + .popover.bottom >.arrow{
 	border-bottom-color: #fffdbb;
 	margin-left:-85px;
 	
 } 
  .popoverpos + .popover.bottom >.arrow:after{
 	border-bottom-color: #fffdbb;
 }
 .popover-title { display: none; }
 .info-margin{
 	margin-left:-28px !important;
  }
/***********************************/
.add_app{
  	font-size:18px;
  	font-weight:bold;
  	font-family:sans-serif;
	color:grey;
	margin-left:-15px;
}


.btn_mrgn{
	margin-left:54px;
}



/*-------Extension-icon------*/

.app_extension{ 
 height:20%;
 background: url(../images/appExtension.png);
 background-repeat:no-repeat!important; 
 margin-top:-6px;
}

.app_extension + .tooltip.bottom{
  margin-left:35px;
  border-bottom-color: #fffdbb;
  border-width: 0 5px 5px;
  font-weight:500;
  opacity:0.9!important;
  margin-top:0px!important;
}

.app_extension + .tooltip.bottom .tooltip-arrow{
  top: 0;
  left:-3%;
  margin-left: 20px;
  border-bottom-color: #fffdbb; 
  border-width: 0 5px 5px;
}

.customtooltip + .tooltip.right{
  margin-left:-30px;
  border-bottom-color: #fffdbb;
  border-width: 0 5px 5px;
  font-weight:500;
  opacity:0.9!important;
  margin-top:0px!important;
}



.btn-cnfrm{
	background:#ed9c28!important;
	border:1px #ed9c28!important;
}
.btn-cancel{	
	background:#DDDCDC!important;
	border:1px #eee!important;
	
}
.close-custom{
	background: url(../images/cancel.png);
	width:40px;
	height:40px;
	float:right;
	margin-top:-35px;
	margin-right:-35px;
}
/* Pop-ups */
****************************************************
.control-label{
	font-weight:500;
}
.modal-title{
	text-align:initial;
	font-weight:700;
}
.modal-content{
	margin-top:15%;
}

*****************************************************
.nohiddenapp{
	width:50%;
	border-color:#868EAA;
}
.nohiddenapptext{
	color:#868EAA;
	font-size:20px;
	font-family:monospace;
	margin-left:420px;
}
#loading_image {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1040;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .8;
	filter: alpha(opacity=50);
	background-color:#f8f8f8;
	text-align:center;
	padding-top:20em!important;
}

.loadingbar{
	height:100px;
	width:100px;
	opacity:1;
	margin-left:-2em!important;
	filter: alpha(opacity=100);
	z-index:9999;
}

.hiddenappconf{
	border-color:#cccccc;
	width:99%;
}
.disabled_link{
	cursor:context-menu;
	text-decoration:none!important;
}
/*******************error and success messages ******************************/
.alert-custom{
	border-radius:0px!important;
	height:auto;
	margin-bottom:0px;
	padding:10px;
	font-size:22px;
	color:#128342;
	font-weight:400!important;
}

.walter-custom{
	border-radius:0px;
	height:auto;
	margin-bottom:0px;
	font-size:22px;
	color:#EA1118;
	padding:10px;
	font-weight:400!important;
}

#display-success{
	list-style-type: none!important;
}

.actionMessage{
	margin-top:-28px!important;
	list-style-type: none!important;
	//margin-left:17px;
	font-size:15px;
	font-weight:400;
}

.errorMessage{
	margin-top:-28px!important;
	list-style-type: none!important;
	font-size:15px;
	//margin-left: 10px;
	font-weight:400;
}
button.errormsgclose{
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	margin-left:0px!important;
	margin-top:0px;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}
button.errormsg_quicktest_close{
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	margin-right:-20px!important;
	margin-top:10px;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}

#altdisplay-alert img,#iedisplay-alert img{
	float: left;
	position: relative;
}

img.alert {
	height: 50px;
	background-color: transparent;
	border: 0px solid transparent;
	padding-top: 10px;
	margin-bottom:0px;
	margin-right:0px;
}

button.altloginclose,button.ieclose{
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	margin-right:5px!important;
	margin-top:2px;
}

.altloginclose,.ieclose{
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}

.fontstyle{
	font-family:calibri;
	font-size:20px;
}

.col-md-offset{
	margin-left:4%;
}
.col-md-offset-i{
	margin-left:15px;
}

.table thead{
	background-color:#1d2b36;
	
}
.table th{
	color:#ffffff;
	
}

.widthcontrol{
	width:71% !important;
}
.parafont{
font-family:arial;
font-size:14px !important;
font-weight:200;
margin-top:6px;
}
.hrborder{
border-width:1px;
border-color:#ddd;
margin-top: 11px !important;
}
.col-sm-offset-2.5{
	margin-left:20%;
}
.col-md-offset-orimage{
	margin-left:4%;
	margin-top:76%;
}
.col-md-offset-chart{
	margin-left:-15%;
	
}
.col-md-offset-group{
	margin-left:-6%;
	
}
.col-md-offset-gateway{
	margin-left:-4%;
}
.col-md-offset-2more{
	margin-left:12%;
}
.col-md-offset-1more{
	margin-left:9%;
}
.tab-font{	
	font-size:14px;
}

.active > a >.tab-font{
	color:#5f6062!important;
}

.uparrow{
	background:url('../images/sort_asc_disabled.png') no-repeat -1px 2px;
	width:20px;
	height:20px;
	cursor:pointer;
}
.downarrow{
	background:url('../images/sort_desc_disabled.png') no-repeat -1px -5px;
	width:20px;
	height:20px;
	cursor:pointer;
}
.registered{
	color:green;
}
.not_registered{
	color:red;
}
.border-bottom{
border-bottom:none;
}
.search-width{
	padding:0 0 0 5px;
}
.tdcenter{
	text-align:center;
}

.textcenter{
	text-align:center;
	font-family:arial;
	font-size:bold;
	
}
.textleft{
	text-align:left;
}
.adminlink , .ssolink{
	color:#333;
}
.adminlink:hover, .ssolink:hover {
	color:#f0ad4e !important;
	text-decoration:none;
	
}
a:hover>.tabs{
	background: #f5f5f5 !important;
	border-radius:4px;
}
.heading-color{
	background-color:#f5f5f5 !important;
	margin:0px;
	padding:6px!important;
}
.panel-title{
	padding:8px;
}

.basicfeatures hr{
	border-width:1px;
	margin:0px;
}

.panel-features a{
	color:#337ab7;
	
}
.col-md-15{
	width:100%;
}
.glyphiconsample{
	font-size:14px;
}
.glyphiconsample2{
	font-size:12px;
}
.align1{
	margin-left:50px;
}
.sampleapp-para{
	margin:2px 0 2px 0 !important;
}
#usericon{
    position: absolute;
    top: 66px;
    left: 37%;
	background: url(../images/menu.png) no-repeat -149px -602px; 
	z-index:999;
	width:60px;
	height:60px;
	display:none;
}
.usericon_pos{
	 left: 29%!important;
}
.modal .modal-body {
    max-height: 500px;
}
.modal .modal-body p {

	font-size:14px !important;
}
.left-side{
	margin-left:15px !important;
}
.tab-font-custom{
	font-size:14px;
	font-weight:bold;
	font-family:sans-serif;
}
.parafont2{
	font-size:10.8pt !important;
	font-family:calibri;
}
.parafont3{
	font-size:16px !important;
	font-family:calibri;
}
/***********************************Reports*****************************************/
/*.custom_margin{
	margin-left:20px;
	margin-right:20px;
}*/
.custom_font{
	font-family:calibri;
	font-size:20px!important;
}
.custom_font_fields{
	font-family:calibri;
	font-size:16px!important;
}
.custom_btn_margin{
	margin-left:16px;
}
.dwnld_pos{
	float:right;
	margin-right:25px!important;
}
.table_report_font{
	font-size:12px!important;
	margin-right:30px!important;
}
.field_spacing{
	margin-left:-30px!important;
}

.editappsli{
		list-style-type:none;
}
/**.nav-tabs>li.active>a{
	color:#FF9400;
}	
.nav-tabs>li>a{
	color:grey;
}**/	
/*****************Auth error page*******************/
.error_font{
	font-size:22px;
	color:#333;
}

/******************Tabs************************/
.nav-tabs {
  border-bottom: 1px solid #ddd;  
  margin-bottom:20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color:#fff!important;
  font-weight:bold;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
  color:#F6821F;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff!important;
  border: 0px transparent;
  border-bottom: 3px solid #F6821F;
}
/*********************Basic policy configuration****************************/
.policy_config_margin{
	margin-left:20px;
}
.config_type_margin{
	margin-left:-45px;
}
.policy_text_right{
	margin-left:50px;
}
.basic_policy_info +.popover.right{
	margin-top:-2px!important;
 	padding:5px;
 	background-color:#fffdbb!important;	
 	color:#000;
 	white-space:initial;
 	width:200px;
	border:0px!important;
	-webkit-box-shadow:none!important;
 }
 .basic_policy_info +.popover.right>.arrow{
 	border-right-color: #fffdbb!important;
 	margin-left:0px;
 }
 .basic_policy_info +.popover.right >.arrow:after{
 	border-right-color: #fffdbb!important;
 } 
.deleteLink, .downloadLink{
	cursor:pointer !important;
}
.rbaErrorMessage{
	background-color: aliceblue;
	padding: 5px 0px 5px 0px;
	border: 2px solid #E6E6FA;
	padding-left: 10px;
	border-radius: 8px 8px 6px 6px;
}
/*****************************Table Styling**********************************************/
table.dataTable thead > tr > th {
white-space:nowrap!important;
}

table.tablewrap thead > tr > th {
white-space:pre-wrap!important;
}

/*table.dataTable thead th.sorting:after{
    content:"\e150";
    font-family:"Glyphicons Halflings";
    margin-left:5px;	
	margin-right:0px;
	padding:0;
    background-repeat:no-repeat!important;
	margin-bottom:10px;
}*/

table.dataTable thead th.sorting_asc:after{
	content:"\e155";
	font-family:"Glyphicons Halflings";
	margin-left:5px;	
	margin-right:0px;
	font-size:10px;
	background-repeat:no-repeat!important;
	
}
table.dataTable thead th.sorting_desc:after{
	content:"\e156";
	font-family:"Glyphicons Halflings";
	margin-left:5px;
	margin-right:0px;
	font-size:10px;
	background-repeat:no-repeat!important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
	background-image: none!important; 	
	background-repeat:no-repeat!important;
}
.dataTables_scrollBody  table thead th{	
	display:table-column-group!important;
}
table.dataTable thead th{
	background-color:#1d2b36!important;
	color:white;
	font-size:13px;
}
.dataTables_scroll
{
    overflow:auto;
}
.row_margin{
	margin-right:0!important;
}
.col-md-display{
	width:84.44%;	
	margin-left:16.1em;
	padding-right:0px!important;
	z-index:99;
	
}
.col-md-menu{
	width:19%;
	z-index:100;
}
.col-md-menu, .col-md-display{
	position: absolute;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 31px;
	float:left;
	background-color: #1d2b36;
}
.col-md-menu-error{
	width:17.66%;
	z-index:100;
	position: relative;
    min-height: 1px;
	float:left;
}
.col-md-display-error{
	width:84.61%;	
	margin-left:-2.2em;
	padding-right:0px!important;
	z-index:99;
	margin-top:-1px;
	position: relative;
    min-height: 1px;
	float:left;
}
.col-md-menu-erroruser{
	width:17.66%;
	z-index:100;
	position: relative;
    min-height: 1px;
	float:left;
	padding-right: 16px;
	 padding-left: 15px;
}
.col-md-display-erroruser{
	width:84.61%;	
	margin-left:-2.2em;
	padding-right:0px!important;
	z-index:99;
	 padding-left: 15px;
	margin-top:-1px;
	position: relative;
    min-height: 1px;
	float:left;
}


.container{
	min-height:550px !important;
}

.registered + .popover.right, .not_registered + .popover.right{
	margin-top:-2px!important;
 	background-color:#fffdbb!important;	
 	color:#000;
	border:0px!important;
 }
.registered +.popover.right>.arrow, .not_registered+.popover.right>.arrow{
 	border-right-color: #fffdbb!important;
 	margin-left:0px;
 }
 .registered +.popover.right >.arrow:after, .not_registered+.popover.right >.arrow:after{
 	border-right-color: #fffdbb!important;
 }
.btn_font{
	font-size:15px;
} 

.table-audit thead{
	background-color: #FFF;
}
.table-audit th{
	color: #000;
}

.red{
	color: red;

}

.green{
	color: green;
}
	
.col-md-i5{
	margin-left:81.5%;
}
.checkboxTextAlign{
	vertical-align:super;
}



.right-txt{
font-family:arial!important;
font-size:12px!important;
margin-top:7px!important;
margin-right:18px!important;
}

.no-line{
text-decoration:none!important;
}
 
.margin1{
margin-left:5px;
}
 .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after{
	display:block!important;
 }
 .checkboxTextAlignBottom{
	vertical-align: bottom !important;
}
.dialog-box-table-font{
	font-size:12px !important;
}

a{
 cursor:pointer;
}

.col-md-display-strongauth{
	width:84.44%;	
	margin-left:16.7%;
	padding-right:0px!important;
	z-index:99;
	position: absolute;
    min-height: 1px;
    padding-right: 13px;
    padding-left: 15px;
	float:left;
	
}
.margin-google{
	margin-left:-7%;
}
.second_fac_config{
	font-size:12px;
}
.col-md-offset-unconfig{
	margin-left:-6%;
}
/****************************Css for collapsable menu********************************************/
.panel_collapsed{
	width:81%;
	margin-left:-6%;
}
.panel_collapsed_features{
	width:130%;
}
.panel_collapsed_quicktest{
	width:112%;
	margin-left:-6%;
}

/*************************************Font-styling******************************************/
.thumbnail_fonts{
	text-align:center;
	font-size:12px;	
	color:#777;
}
.heading_font>h4{
	color:#5f6062;
	font-size:16px;
	font-weight:bold;
}
.heading_font{
	color:#5f6062;
	font-size:16px;
	font-weight:bold;
}
.subheading_font{
	color:#777;
	font-size:14px!important;
	font-weight:normal!important;
}
.heading_action_font{
	color:#777;
	
	font-size:14px;
	margin-top:0.6%;
	padding-left:2.9%;
}
.subheading_font{

	color:#777;
	font-size:14px!important;
	font-weight:normal!important;
}
.table_header_font > thead >tr >th{

	font-size:14px;
}
.table_header_font > tbody > tr >td{
	
	font-size:13px;
}
.input_field_fonts{

	font-size:13px!important;
	padding-top: 8px !important;
	
}

.text_fonts{

	font-size:13px!important;
	
}

.content_heading_fonts{	
	
	font-size:14px!important;
	font-weight:bold!important;
	color:#4C4E51 !important;
}
.content_fonts{	
	
	font-size:14px!important;
	color:#4C4E51 !important;
	
}
.heading_info_font{
	color:#5f6062;
	font-family:arial;
	font-size:13px;
	
}

.content_heading_fonts hr{	
	margin-top:10px !important;
}
.radio-txt{
	
	font-size:13px!important;
}
.report-textfield{
	width:90% !important;
}
.report-margin-left5{
	margin-left:-50px !important;
}
.report-margin-left4{
	margin-left: -40px !important;
}
.report-margin-left6{
	margin-left:-60px !important;
}
.report-margin-left1{
	margin-left:-10px !important;
}
.report-margin-left44{
	margin-left:-44px !important;
}
.report-margin-left05{
	margin-left:5px !important;
}

.icon-place{
	margin-left:6px!important;
}
.radio-fonts{

	font-size:13px!important;
	font-weight:normal!important;
	
}

.space{
	margin-bottom:10px;
}

.table-dropdown-font{
	font-size:12px !important;
	right:49px! important;
	border-radius:0px!important;
	padding:0px!important;
	margin:0px!important;
}
.dropdown-font{
	font-size:12px;
}

.reverse{
	top:auto;
	bottom:100%;
}