<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings/>

  <!--Here you will add the appSetting and link-->
<!--
   <appSettings>
   <add key="connector_url" value="http://localhost/<connector Alias name>/request.aspx" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
-->

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <httpRuntime />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Persistlogin.aspx" defaultUrl="Default.aspx" timeout="3000" >
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

  </system.web>

</configuration>
