<!-- Sample 09: Add the App settings in the external source file -->
<appSettings>
  <add key="idp_entityid" value="" />
  <add key="idp_ssourl" value="" />
  <add key="idp_certificate" value="" />
  <add key="uname_id" value="" />
  <add key="name_id" value="" />
  <add key="email_id" value="" />
  <add key="first_name" value="" />
  <add key="password" value="" />
  <add key="last_name" value="" />
  <add key="issue" value="" />
  <add key="sp_entityid" value="" />
  <add key="sp_acsurl" value="" />
  <add key="user_url" value="" />
  <add key="encrypt_key" value="" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="" />
</appSettings>
