<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings configSource="setting.config"/>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login_page.aspx" defaultUrl="instruction.aspx" timeout="3000" />
    </authentication>
    <authorization>
      <deny users="?"  />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

  </system.web>

  <location path="request.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>

      </authorization>
    </system.web>
  </location>

  <location path="ACS.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>

      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="login_page.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>


</configuration>
